@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cfcfcf;
  --foreground: #111111;
  --accent: #272727;
  --dark-hover: #3a3a3a;
  --shadow: #515151;
  --highlight: #fcfcfc;
  --hover: #d8d8d8;
  --medium: #b3b3b3;
  --light-shadow: #6d6d6d;
  --white: #e4e7e7;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea {
  text-transform: uppercase;
}
