@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #111111;
  --accent: #272727;
  --shadow: #515151;
  --highlight: #dddddd;
  --text-transform: uppercase;
  --hover: #d3d3d3;
  --medium: #b3b3b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #cacaca;
    --accent: #afafaf;
    --shadow: #070707;
    --highlight: #494949;
    --hover: #1D1D1D;
    --medium: #232323;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea {
  text-transform: var(--text-transform);
}

.w-color-compact {
  gap: 4px;
}

.w-color-editable-input,
.w-color-editable-input-rgba,
.w-color-editable-input input,
.w-color-editable-input-rgba input {
  font-size: 14px !important;
}

.w-color-editable-input > span > div {
  width: 13px !important;
  height: 13px !important;
}

@layer utilities {
  .before\:bg-pattern::before {
    @apply bg-pattern;
  }

  .bg-pattern {
    background: repeating-conic-gradient(
      var(--foreground) 0% 25%,
      var(--background) 25% 50%,
      var(--foreground) 50% 75%,
      var(--background) 75% 100%
    );
    background-size: 4px 4px;
  }
}