.embla {
    --slide-spacing: 1rem;
    --slide-size: 90%;
}

.embla__container {
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
    transition: height 0.1s;
    align-items: flex-start;
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 auto;
    padding-left: var(--slide-spacing);
}
